*{
    padding: 0px;
    margin: 0px;
}
#maincontainer{
    width: 100%;
}
#vedio{
    position: absolute;
}
.foropacity{
    background-color: #3675b880;
    position: relative;
    top: 0px;
    height: 760px;
    margin-top: 60px;
    width: 100%;
}
.textsec2{
    position: absolute;
    top: 200px;
    width: 50%;
    margin-left: 40px;
    font-family: sans-serif;
    color: white;
}
#section3{
    /* width: 100%; */
    padding: 40px;
    background-color: #fcfafa;
}
.span{
    color: #005BAA;
}
.sec3in{
    display: flex;
}
.sec3imgs{
    display: flex;
    padding: 10px;
    width: 60%;
    flex-wrap: wrap;
    column-gap: 40px;
    text-align: center;
    row-gap: 30px;
}
.imgsec3in{
    border-radius: 10px;
    background: white;
    font-family: sans-serif;
    box-shadow: 0px 0px 5px 0px gray;
    width: 130px;
    padding: 15px;
}
.sec3inpart2{
    width: 50%;
    align-self: top;
    margin-right: 100px;
    font-family: sans-serif;
}
.fa-logos{
    font-size: x-large;
    color: #3675b880;
    text-decoration: none;
}
.fa-python:hover{
    color: rgba(247, 247, 18, 0.795);
}
.fa-node-js:hover{
    color: rgba(247, 247, 18, 0.795);
}
.fa-react:hover{
    color: aqua;
}
.fa-angular:hover{
    color: rgb(190, 37, 37);
}
.fa-vuejs:hover{
    color: rgb(42, 99, 42);
}
.fa-node-js:hover{
    color: rgb(150, 60, 90);
}
.sec3btn{
    border: 1px solid;
    text-decoration: none;
    padding: 15px;
    font-family: sans-serif;
    color: white;
    border-radius: 5px;
    background-color: blue;
}
.sec3btn:hover{
    background: white;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    transition: 0.8s;
}
#Section4{
    display: flex;
    width: 100%;
    background-color: #E0EAF3;
    padding-top: 30px;
    padding-bottom: 70px;
}
.sec4text{
    width: 50%;
    font-family: sans-serif;
    font-size: x-large;
    align-self: center; 
    padding: 20px;
    margin-left: 30px;
}
.sec4imgin{
    margin-top: 150px;
    font-family: sans-serif;
    margin-left: 200px;
    text-align: center;
   align-self: center;
   
}
#section5{
    /* width: 100%; */
    padding: 50px;
    background-color: #012842;
    font-family: sans-serif;
    color: white;
    padding-bottom: 90px;
}
.sec5forul{
    display: flex;
    column-gap: 150px;

}
.sec5ul1{
    margin-left: 150px;
    margin-top: 90px;
}
.sec5img{
    margin-top: 50px;
}
#section6{
    display: flex;
    margin: 20px 0px 5px 0px;
    padding: 50px 50px 15px 50px;
}
.sec6text{
    width: 60%;
    font-family: sans-serif;
    font-size: large;
}
.sec6btnborder{
    text-align: right;
    margin-top: 15px;
    width: 40%;
}
.sec6btn{
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-family: sans-serif;
    color: white;
    background-color: #005BAA;
}
.sec6btn:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    transition: 0.8s;
}
#section7{
    display: flex;
    background-color: #3A99F5;
    margin: 50px;column-gap: 120px;
    border-radius: 10px;
}
.sec7text{
    width: 40%;
    padding: 50px;
    font-family: sans-serif;
    color: white;
    font-size: x-large;

}
.sec8textclr{
    color: black;
}
.sec7btn{
    text-decoration: none;
    border: 1px solid white;
    font-size: large;
    color: white;
    padding: 9px;
    margin: 0px 5px;
    border-radius: 50px;
}
.sec7btn2{
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 9px;
    margin: 0px 5px;
}
.sec7img{
    padding: 20px;
}
#section8{
    background-color: rgb(241, 241, 241);
}
.sec8in{
    display: flex;
    padding: 50px;
    color: #005BAA;
    column-gap: 30px;
}
.sec8text{
    width: 40%;
    font-size: larger;
    align-self: center;
}
.sec8imgs{
    margin: 0px 30px;
}
