*{
    padding: 0px;
    margin: 0px;
}
#maincontainer{
    width: 100%;
    border: 1px solid;
}
#vedio{
    /* width: 10%; */
    position: absolute;
}
.foropacity{
    background-color: #3675b880;
    position: relative;
    top: 0px;
    height: 700px;
    margin-top: 60px;
    width: 100%;
}
.textsec2{
    position: absolute;
    top: 200px;
    width: 50%;
    margin-left: 40px;
    font-family: sans-serif;
    color: white;
}
#section3{
    width: 100%;
    padding: 40px;
    background-color: #F8FAFC;
}
.sec3in{
    display: flex;
}
.sec3imgs{
    display: flex;
    padding: 10px;
    width: 50%;
    flex-wrap: wrap;
    /* margin-top: 100px; */
    column-gap: 30px;
    /* align-items: center; */
    /* align-self: center; */
    text-align: center;
    row-gap: 30px;
}
.imgsec3in{
    border: 1px solid;
    /* align-items: center; */
    /* align-items: center; */
    width: 120px;
    /* display: inline-block; */
    padding: 15px;
}
