* {
    padding: 0%;
    margin: 0%;
}
#mainContainer {
    width: 100%;
}
.headpotn {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: #0A101E;
    padding: 15px 0px;
}
.containerpadmarg {
    margin: 0px 150px;
    padding: 0px 12px;
}
.pgesflx {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    align-self: center;
    justify-content: space-between;
}
.logo {
    width: 200px;
}
.scndflex {
    display: flex;
}
.ulflex {
    display: flex;
    align-self: center;
}
.pgsmarg {
    margin-left: 40px;
    text-decoration: none;
    color: white;

}
.pgsmarg:hover {
    color: #a9adb8;

}
li {
    list-style: none;
}
.phonefont {
    color: white;
    align-self: center;
    margin-left: 30px;
}
.fa-phone {
    padding-left: 30px;
}
.phnnbr {
    align-self: center;
    color: #FEC544;
    padding-left: 10px;
}
.sec1 {
    width: 100%;
    height: 850px;
    background-color: #080E1E;
    position: relative;
}
.bgimg {
    background-image: url(/Photos/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 710px;

}
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 50px;
}
.bgimgtext {
    width: 40%;
    height: 500px;
    transform: translate(-350px);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bgimghelo {
    font-style: italic;
    color: #FEC544;
    transform: translate(10px);
}
.bgimgmyname {
    font-size: 120px;
}
.bgimgvisual {
    font-size: 33px;
    font-style: italic;
    color: rgba(134, 134, 134, 0.795);
}
.bgimghirbtn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    background-color: #FEC544;
    border-radius: 30px;
    padding: 15px 50px;
}
.bgimghirbtn:hover {
    box-shadow: 0px 2px 8px #FEC544;
    transition: 0.8s;
}
.sec1p2 {
    background-color: #080E1E;
    padding: 28px;
    display: flex;
    justify-content: center;
}
.socillogos {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.295);
    color: #232935;
    background-color: #232935;

    border-radius: 50px 0px 0px 50px;
    transform: translate(-160px);
    padding: 20px;
}
.logossocial {
    text-decoration: none;
    color: #a9adb8;
    background-color: #080E1E;
    padding: 15px;
    margin: 0px 10px;
    border: 1px solid;
    border-radius: 100%;

}
.formarg {
    margin-right: 80px;
}
.photoganja {
    position: absolute;
    top: 0px;
    left: 720px;
}
#sec2 {
    width: 100%;
    background-color: #0A101E;

}
.p1forhght {
    height: 100px;
    background-color: #0A101E;
}
.p2abtmeopascity {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.103);
}
.pstnabtme {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    transform: translateY(-102px);
    color: #FEC544;
    text-decoration: underline;
}
.content {
    display: flex;
    margin: 0px 70px;
    padding: 10px 12px 20px 12px;
}
.bgimg2 {
    background-image: url(/Photos/about.jpg);
    background-position: center;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
}
.textinsec2{
    width: 48%;
    color: white;
    margin: 0px 50px;
}
table {
    border-collapse: collapse;
    width: 400px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
td {
    padding: 6px 0px;
    vertical-align: top;
}
.label {
    font-weight: 600;
    color: #bbb;
    width: 120px;
}
.value {
    color: #fff;
}
.hithere{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;

}
.visudesignsec2{
    color: #FEC544;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}
.pinsec2{
    color: #a9adb8;
    font-size: 20px;
}
.dwnlodcv{
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    background-color: #FEC544;
    border-radius: 30px;
}
.dwnlodcv:hover{
    box-shadow: 0px 2px 8px #FEC544;
    transition: 0.8s;
}
#sec3 {
    width: 100%;
    background-color: #0A101E;
}
.p1forhghtsec3{
    height: 100px;
    background-color: #0A101E;
}
.p2abtmeopascitysec3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.103);
}
.pstnabtmesec3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    transform: translateY(-102px);
    color: #FEC544;
    text-decoration: underline;

}
.sec3cards{
    display: flex;
    margin: 0px 80px;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
}
.cards{
    width: 25%;
    text-align: center;
    border: 1px solid #232935;
    padding: 50px 30px;
    background-color: #101624;

}
.sec3img{
    border:1px solid #232935;
    background-color: #0A101E;
    padding: 20px;
    border-radius: 100px;
    margin: 0px 100px;
    /* filter: grayscale(1); */
}
.sec3h2{
    color: white;
}
.sec3h2:hover{
    color: #FEC544;
}
.sec3p{
    color: #a9adb8;
}
#sec4{
    width: 100%;
    background-color: #0A101E;
}
.sec4p2{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 80px;
    color: white;
}
.sec4text1{
    width: 48%;
    /* text-align: center; */
}
.sec4txth2{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sec4txtp{
    font-size: 20px;
}
.sec4txth2p2{
    margin: 10px 0px 30px 40px;
}
#sec5{
    width: 100%;
    background-color: #0A101E;
}
.sec5part1{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 80px;
}
.sec5p1sec1{
    display: flex;
}
.sec5imgNedu{
    display: flex;
}
.sec5imgNexp{
    display: flex;
}
.sec5eduh2{
    margin-left: 30px;
    color: white;
}
.sec5txtedu{
    font-size: 36px;
}
.sec5textexp{
    font-size: 36px;
}
.sec5h2{
    font-size: 25px;
    color: #FEC544;
}
.sec5sunObirth{
    font-size: 25px;
    margin-top: 20px;

}
.sec5h4{
    font-size: 25px;
    margin-top: 20px;

}
.sec5p{
    font-size: 20px;
    margin-top: 20px;
}
#sec6{
    width: 100%;
    background-color: #101624;
}
.sec6imgs{
    display: flex;
    margin: 0px 80px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}
.sec6btndiv{
    padding: 40px 0px 90px 0px;
    text-align: center;
}
.sec6btn{
    /* border: 1px solid; */
    padding: 15px 45px;
    border-radius: 30px;
    text-decoration: none;
    background-color: #FEC544;
    color: black;
}
.sec6btn:hover{
    box-shadow:0px 5px 10px #FEC544;
    transition: 0.8s;


}
#sec7{
    width: 100%;
    background-color: #0A101E;
}
.sec7cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 80px;
    column-gap: 20px
    
}
.sec7card1{
    width: 360px;
    height: 300px;
    background-color: #232935;
    clip-path: polygon(0% 0%, 100% 0%, 100% 55%, 67% 56%, 50% 76%, 34% 55%, 1% 56%);
    /* border: 1px solid white; */
    padding: 10px;

}
.sec7card1:hover{
    border:2px solid #FEC544;
    transition: 0.8s;
    
}
.sec7imgs{
    width: 360px;
    /* border: 1px solid; */
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.secc7imgsh2:hover{
    color: #FEC544;

}
.sec7p{
    color: rgba(255, 255, 255, 0.336);
    font-size: 25px;
    
}
.secc7imgsp{
    color: #a9adb8;
}
#sec8{
    width: 100%;
    background-color: #101624;
    padding-bottom: 90px;
}
.sec8cards{
    display: flex;
    margin: 0px 80px;
    column-gap: 30px;
}
.sec8crdsadmin{
    color: #FEC544;
    text-decoration: none;
}
.sec8p{
    color: white;
}
.sec8txt{
    text-decoration: none;
    color: white;
    font-size: 25px;    
}
.sec8txt:hover{
    color: #FEC544;
}
#sec9{
    width: 100%;
    background-color: #0A101E;
    padding-bottom: 80px;
}
.sec9form{
    display: flex;
    margin: 0px 80px;
    column-gap: 20px;
}
.sec9formfrw{
    width: 50%;
}
.sec9h3{
    color: white;
    font-size: 35px;
}
.seec9btns{
    background-color: #2329355b;
    border:1px solid rgba(255, 255, 255, 0.199);
    border-radius: 10px;
    padding: 20px 390px 20px 20px;
    
}
.sec9divmagn{
    margin: 30px 0px;
}
.seec9btnsearch{
    background-color: #2329355b;
    border:1px solid rgba(255, 255, 255, 0.199);
    border-radius: 10px;
    padding: 20px 390px 120px 20px;

}
.senmebtnsec9{
    background-color: #FEC544;
    padding: 20px 50px;
    border: none;
    border-radius: 30px;
}
.sec9txtforw{
    width: 50%;
}
.sec9txtp{
    color: rgba(255, 255, 255, 0.466);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.sec9iconsflx{
    display: flex;
    column-gap: 30px;
    margin-top: 20px;
}
.sec9icons{
    border: 1px solid;
    padding: 15px;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.61);
}
.sec9icons:hover{
    color: #FEC544;
}
.sec9txtmails{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.sec9iconstxt{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.63);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sec9iconstxt:hover{
    color: #FEC544;
}
.sec9taxtlasth3{
    color: rgba(255, 255, 255, 0.582);
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.frmagn{
    margin: 0px 10px;
}
footer{
    width: 100%;
    background-color: #101624;
    padding: 45px 0px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 20px;
}
